#navbar {
    
height: 100%; 
width: 160px; 
position: fixed; 
z-index: 1; 
top: 0; 
left: 0;
background-color: #111; 
overflow-x: hidden; 
padding-top: 20px;
}

#navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#main-doc {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    font-size: 18px;
}

@media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    #navbar a {font-size: 18px;}
  }
